h1  {
    color: #8812d9;
    font-size: 20px;
    background: #3bb70c;
}

#unico {
    background: #da0707;
    color: white;
    font-size: 30px;
}

.azul {
    color: blue;
}

.fondo {
    background: #eaa9a9;
}
